In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [2]:
dates = pd.date_range('20240430',periods=6)
dates

DatetimeIndex(['2024-04-30', '2024-05-01', '2024-05-02', '2024-05-03',
               '2024-05-04', '2024-05-05'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2024-04-30  0.686441 -1.934406  0.134395  0.694671
2024-05-01 -0.787076  2.203289 -0.322953  0.816025
2024-05-02  1.056170  0.804069  0.252489 -0.064870
2024-05-03 -1.237465 -1.827772  0.473410 -1.967968
2024-05-04 -0.108134 -0.028475 -0.486887  1.518227
2024-05-05 -0.102437  1.781907 -0.248880 -2.417859

In [4]:
df2 = pd.DataFrame(
    {
        'A':1,
        'B':pd.Timestamp('20240509'),
        'C':pd.Series(1,index=list(range(4)),dtype='float32'),
        'D':np.array([3]*4,dtype='int32'),
        'E':pd.Categorical(['test','train','test','train']),
        'F':'foo'
    }
)
df2

   A          B    C  D      E    F
0  1 2024-05-09  1.0  3   test  foo
1  1 2024-05-09  1.0  3  train  foo
2  1 2024-05-09  1.0  3   test  foo
3  1 2024-05-09  1.0  3  train  foo

In [5]:
df2.dtypes

A            int64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [6]:
df.head()

                   A         B         C         D
2024-04-30  0.686441 -1.934406  0.134395  0.694671
2024-05-01 -0.787076  2.203289 -0.322953  0.816025
2024-05-02  1.056170  0.804069  0.252489 -0.064870
2024-05-03 -1.237465 -1.827772  0.473410 -1.967968
2024-05-04 -0.108134 -0.028475 -0.486887  1.518227